:root {
    --dark-background-color: #fff;
    --light-background-color: #4FE7B5;
    --dark-foreground-color: #000;
    --light-foreground-color: #fff;
    --grey-foreground-color: #ccc;
    --accent-color: #ccc;
    --general-padding: 2em;
    --general-margin: 1em;
    --nav-background-color: #236167;
    --nav-text-color: #fff2e6;
}

* {
    margin: 0;
    padding: 0;
    color: var(--dark-foreground-color);
    font-family: Arial, Helvetica, sans-serif;
}

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--nav-text-color);

}

a:hover {
    color: var(--accent-color);
    font-weight: bold;
}

div#container {
    display: flex;
    flex-direction: column;
    margin: 0vw;
}

div#content {
    display: inherit;
}


header {
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 0vw;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#content aside {
    width: 0vw;
}

section#main {
    width: 97vw;
    display: inherit;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 0px solid var(--dark-background-color);
    margin: 0px;
    padding:0px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 1.2vw;
    background-color: var(--nav-background-color);
    display: block;
    border-top: 0px solid var(--dark-foreground-color);
    border-bottom: 0px solid var(--dark-foreground-color);
    height: 43vw;
    width: 25vw;
    text-align: left;
}

nav ul {
    padding-left: 0px;
    text-align: left;
    margin: 0vw;
}

nav li {
    display: block;
    color: white;
    width: auto;
    padding:1vw;
    text-align: left;
    margin: auto;
}
div#content section {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: 1px solid var(--dark-background-color);
    margin: calc(var(--general-margin)*2) 0 var(--general-margin) 0;
}
article {
    flex: 100%;
}

article div {
    margin: calc(var(--general-margin)/4);
    border: 1px solid var(--grey-foreground-color);
}

article h3 {
    margin: var(--general-margin);
    font-size:  1vw;
}

article p {
    flex: 100%;
    margin: var(--general-margin);
    line-height: 1.5;
    font-size:  1vw;
}

article div img {
    display: block;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    height: vw;
    width: 92%;
    object-fit: contain;
}

div#imagetext {
    text-align: left;
    padding-left: 0vw;
    width: 100%;
}

div#city {
    text-align: left;
    padding-left: 0.4vw;
    width: 100%;
}

article div iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vw;
    width: 92%;
    object-fit: contain;
}

div#buttons{
    font-size:  50px;
    display: inline;
    justify-content: center;
    align-items: center;
}

.button {
    font-size:  1vw;
    align-items: center;
	background-color: var(--nav-background-color);
	border: none;
	color: var(--nav-text-color);
	padding: 0vw;
	text-align: center;
	text-decoration: none;
	margin-left: 2vw;
    margin-right: auto;
    margin-top: 1vw;
	cursor: pointer;
	border-radius: 1vw;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	width: 10vw;
    height: 3vw;

  }
  .button2:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

aside {
    padding: var(--general-padding);
    padding-top: calc(var(--general-padding) * 1.5);
}

footer {
    width: 100vw;
    background-color: var(--nav-background-color);
    height: 5vw;
    font-size: 1.5vw;
    text-align: center;

}

footer p {
    color: var(--light-foreground-color);
    padding: 1.5vw;
}

@media only screen and (max-width: 1200px) {
    
    nav{
        font-size: 2vw;
        height:67vw;  
    }
    
    div#content {
        flex-direction: row;
    }

    div#content aside {
        width: 0vw;
        padding-top: var(--general-padding);
        padding-left: calc(var(--general-padding) / 2);
    }

    article {
        flex: 45vw;
        font-size: 2vw;
    }

    article div img {
        width: 45vw;
    }

    div#imagetext {
        text-align: left;
        padding-left: 0vw;
        font-size: 2vw;
    }

    article#first {
        display:none;
    }

    .button{
        margin-left:5vw;
    }
}

@media only screen and (max-width: 920px) {
    nav{
        font-size: 2vw;
        height:140vw;  
    }

    div#content {
        flex-direction: column;
    }

    article p {
        margin: var(--general-margin);
        line-height: 1.5;
        font-size:  2vw;
    }

    article h3 {
        margin: var(--general-margin);
        line-height: 1.5;
        font-size:  2vw;
    }

    article div img {
        width: 60%;
    }

    div#imagetext {
        text-align: left;
        padding-left: 16vw;
    }
    article {
        flex: 100%;
    }

    article#first {
        display:none;
    }

    .button{
        margin-left:23vw;
    }
}
